html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  margin-left: .5%;
  margin-top: .3%;
  border: none;
  width: 184px;
}

table.keyboard {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table.keyboard tr {
}

table.keyboard tr td {
  padding: 20px;
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
}

#inputnumber {
  padding: 20px;
  font-size: 2em;
  font-weight: bolder;
  width: 184px;
  text-align: right;
}


#results {
  display: flex;
}

#results div {
  display: inline-block;
}

#days {
  padding: 20px;
  font-size: 1.4em;
  text-align: left;
  width: 50%;
}

#resultnumber {
  padding: 20px;
  font-size: 1.4em;
  text-align: right;
  width: 50%;
}
